.order-form-container {
  flex: 1;
  margin-top: 40px;
  margin-bottom: 10px;
  border: 1 solid lightcoral;

  .order-form {
    display: flex;
    justify-content: space-around;
    align-items: inherit;
    border-width: 1;
    border-color: yellowgreen;
    .form-button {
      margin-bottom: 5px;
    }
    SelectComponent {
      width: 10px;
      margin-bottom: 10px;
    }
    TextField {
      width: 25px;
    }
  }
}
